version: "3.8"
services:
  mongodb:
    image: "mongo"
    ports:
      -"27017:27017"
    volumes:
      - data:/data/db
  backend:
    build: ./backend
    ports:
      - "8090:8090"
    volumes:
      - logs:/app/logs
      - ./backend:/app
      - /app/node_modules
    depends_on:
      - mongodb
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/src:/app/src
    stdin_open: true
    tty: true
    depends_on:
      - backend

volumes:
  data:
  logs:
