.User{
    margin-top: 8%;
    justify-content: center;
    align-items: center;
    width: 100vw;
   
}

.User-container{
    margin-left: 15%;
    margin-top: 2%;
    width: 70vw;
    
}

.Search-container{
  margin-bottom: 3%;
  display: flex;
  flex-wrap: nowrap;
 
    
}
